In [1]:
import pandas as pd
df = pd.read_csv("CDF1.csv")

In [3]:
df.head(10)

,Year,Arizona,Arizona State,Colorado,Utah,USC,Califonia,UCLA,Stanford,Wash State,Washington,Oregon,Oregon State
0,2019,1,2,1,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2018,1,3,1,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN
2,2017,0,1,4,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN
3,2016,2,2,0,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,0,4,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
5,2014,3,3,1,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN
6,2013,0,0,2,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN
7,2012,3,2,2,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN
8,2011,3,1,4,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN
9,2010,3,3,0,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN